
.main {
    margin-left: 300px;
   
     /* Same as the width of the sidenav */     
}

input.txt{
    border: 0;
    padding: 1em;
    width: 30%;
    margin-bottom: 2em;
}

button.btn{
    border: 0;
    padding: 1em;
    width: 30%;
    margin-bottom: 2em;
    background: rgb(9, 111, 228);
    margin-left: 70px;
    }

   